repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.4
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.4.1
  hooks:
    - id: mypy
      args: ["--strict"]
      additional_dependencies:
        - numpy
        - pandas-stubs
        - types-requests
        - types-beautifulsoup4
        - flask
        - pdfplumber
        - beautifulsoup4
      